@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
:root {
  --blue: #4971a6;
  --blue2: #253140;
  --escuro: #0e1826;
  --claro: #4f5f73;
  --white: #f2f2f2;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans Narrow", sans-serif;
}

.home {
  color: var(--white);
  height: 100vh;
  background-image: linear-gradient(
      150deg,
      rgba(0, 0, 27, 0.712),
      rgba(0, 2, 36, 0.705)
    ),
    url(assets/pexels-timothy.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background: black url(assets/pexels-timothy.jpg) center center no repeat fixed;
  background-size: cover;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

a {
  color: var(--white);
  text-decoration: none;
}

.nav-btn {
  display: none;
}

nav ul {
  display: flex;
  font-size: 1.3em;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 30px;
  display: inline;
  letter-spacing: 3px;
}

nav ul li p {
  display: block;
  padding: 5px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

nav ul li p:hover {
  border-bottom: 4px solid var(--blue);
  transition: 0.5s;
}

button {
  margin: auto;
  padding: 10px;
  font-size: 20px;
  background: var(--blue);
  border: 0;
  color: var(--white);
  border-bottom: 4px solid transparent;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
button:hover {
  transition: 0.3s;
  background: transparent;
  border-bottom: 4px solid var(--blue);
}

.logomarca {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logomarca h1 {
  font-size: 4em;
  font-weight: normal;
  letter-spacing: 8px;
}
span {
  color: var(--blue);
}
.logomarca p {
  font-size: 1.5em;
}

.socialMedia {
  position: absolute;
  bottom: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.socialMedia a {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
}

.socialMedia a:hover {
  color: var(--blue);
}

.emailForm {
  z-index: 2;
  position: fixed;
  height: 450px;
  width: 300px;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blue);
  color: var(--white);
  margin: auto;
  line-height: 3em;
}

.emailForm form {
  display: flex;
  flex-direction: column;
}

.emailForm form input,
textarea {
  background-color: transparent;
  margin-bottom: 20px;
  color: var(--white);
  padding: 10px;
  border: 0px;
  border-bottom: 2px solid var(--claro);
  transition: 0.4s;
}

::placeholder {
  color: var(--white);
}

.emailForm form input:focus,
textarea:focus {
  outline: none;

  border-bottom: 2px solid var(--escuro);
}

.showForm {
  display: none;
}

#btn-sub {
  width: 150px;
  margin: auto;
  margin-top: 20px;
  border: none;
  background-color: var(--blue2);
  cursor: pointer;
  transition: 0.4s;
}

#btn-sub:hover {
  background-color: var(--claro);
}

.comments {
  background-color: var(--blue2);
  height: 100vh;
  position: relative;
}

.comments h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  font-size: 4em;
  text-align: center;
  color: var(--white);
}
.cards {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  color: var(--white);
}

.comments button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

.card {
  margin-right: 10px;
  text-align: center;
  align-items: center;
  box-shadow: 5px 5px 5px var(--escuro);
  padding: 30px;
  background-color: #4f5f73;
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.card h4 {
  font-size: 1.2em;
}

.card img {
  height: 65px;
  width: 130px;
}

.rotas {
  height: 68vh;
  background-color: var(--blue2);
}

.rotas h2 {
  font-size: 4em;
  padding: 15px;
  text-align: center;
  color: var(--white);
}

.leaflet-container {
  z-index: 1;
  margin: auto;
  height: 50vh;
  width: 100%;
}

.footer {
  position: relative;
  height: 32vh;
  display: flex;
  background-color: var(--escuro);
  justify-content: center;
}

.cardFooter {
  color: var(--white);
  width: 200px;
  text-align: center;
  padding: 10px;
}

.cardFooter h4 {
  padding-bottom: 10px;
}

#close-form {
  top: 3%;
  position: absolute;
  display: flex;
  right: 3%;
  background-color: transparent;
}

#end {
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  color: var(--white);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .navbar {
    background-color: var(--escuro);
  }

  .navbar nav {
    z-index: 2;
    flex-direction: column;
    position: fixed;
    box-shadow: 0px -5px 10px var(--escuro);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    transition: 0.6s;
  }

  .responsive_nav {
    transform: translateY(-100vh);
  }

  .navbar nav button {
    display: none;
  }

  .navbar .nav-btn {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
  }

  .nav-btn {
    top: 3%;
    position: absolute;
    display: flex;
    right: 3%;
    background-color: transparent;
  }
  .nav-btn:hover {
    border: none;
  }

  .navbar h2 {
    margin: auto;
    font-size: 1.5em;
  }

  .logomarca h1 {
    display: none;
  }

  .socialMedia {
    left: 50%;
    transform: translate(-50%);
  }

  .comments {
    height: 200vh;
  }

  .comments h2 {
    top: 7%;
  }

  .comments button {
    bottom: 0;
  }

  .cards {
    flex-direction: column;

    top: 20%;
  }

  .card {
    margin: 0px 0px 10px 0px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: 85vh;
  }

  .cardFooter {
    text-align: left;
  }
}
