@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
:root {
  --blue: #007de4;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans Narrow", sans-serif;
}

.home {
  color: white;
  height: 100vh;
  background-image: linear-gradient(
      150deg,
      rgba(0, 0, 27, 0.712),
      rgba(0, 2, 36, 0.705)
    ),
    url(assets/pexels-timothy.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background: black url(assets/pexels-timothy.jpg) center center no repeat fixed;
  background-size: cover;
}

.navbar {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

nav ul {
  display: flex;
  font-size: 1.3em;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 30px;
  display: inline;
  letter-spacing: 3px;
}

nav ul li p {
  display: block;
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

nav ul li p:hover {
  border-bottom: 1px solid var(--blue);
  transition: 0.5s;
}

button {
  margin: auto;
  padding: 10px;
  font-size: 20px;
  background: var(--blue);
  border: 0;
  color: #fff;
  border-bottom: 4px solid #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
button:hover {
  transition: 0.3s;
  background: transparent;
  border-bottom: 4px solid var(--blue);
}

.logomarca {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logomarca h1 {
  font-size: 4em;
  font-weight: normal;
  letter-spacing: 8px;
}
span {
  color: var(--blue);
}
.logomarca p {
  font-size: 1.5em;
}
